# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.cproject
.project
*.bin
*.d

# Misc
*cscope.*
*.map
/host_tools/cobs.py
/host_tools/cobs.pyc
/host_tools/xbvc_py.py
/host_tools/xbvc_py.pyc
/upgrade_agent/cobs.c
/upgrade_agent/cobs.h
/upgrade_agent/xbvc_core.c
/upgrade_agent/xbvc_core.h
/asl_f4_loader-*.tar.gz
board.default
.pydevproject
build

*.egg
dist
*.egg-info
